DATABASE_URL=mongodb://ampere-labs:yXo6LaWdzvFHZfbF@ac-5qqwgxy-shard-00-00.pcv6fa9.mongodb.net:27017,ac-5qqwgxy-shard-00-01.pcv6fa9.mongodb.net:27017,ac-5qqwgxy-shard-00-02.pcv6fa9.mongodb.net:27017/ampere-labs?ssl=true&replicaSet=atlas-13ylk2-shard-0&authSource=admin&appName=Cluster0
PAYLOAD_SECRET=YOUR_SECRET_HERE
