@import "tailwindcss";

@theme {
  --color-primary: #e45a47;
  --color-secondary: #06b6d4;
  --color-muted: #9ca3af;
  --color-card: #111111;
  --color-card-content: #fefefe;
  --color-border: #27272a;
  --color-neutral: #1a1a1a;
  --color-neutral-200: #262626;
  --color-neutral-300: #191919;
  --color-neutral-400: #b1b1b1;
  --color-neutral-500: #444444;
  --color-neutral-600: #9b9b9b;
  --color-neutral-700: #212122;
  --color-neutral-800: #30332e;
  --color-neutral-900: #1f201e;
  --color-gray: #dcdcdc;
  --color-gray-100: #171717;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-avenirLtStd: var(--font-avenirLtStd);
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 72rem;
  --breakpoint-2xl: 73.75rem;
}

@layer base {
  body {
    @apply bg-black text-white font-montserrat;
  }

  h1 {
    @apply font-bold text-[3.125rem] max-md:text-3xl max-sm:text-3xl leading-tight;
  }

  h2 {
    @apply font-bold text-3xl max-2xl:text-3xl max-xl:text-2xl max-lg:text-2xl max-md:text-2xl max-sm:text-xl leading-snug;
  }

  h3 {
    @apply font-medium text-2xl max-2xl:text-xl max-xl:text-xl max-lg:text-xl max-md:text-xl max-sm:text-base;
  }

  h4 {
    @apply font-avenirLtStd font-semibold text-xl max-2xl:text-lg max-xl:text-lg max-lg:text-base max-md:text-lg max-sm:text-sm max-[22.5rem]:text-xs;
  }

  h5 {
    @apply font-semibold text-lg max-2xl:text-base max-xl:text-base max-lg:text-base max-md:text-base max-sm:text-base;
  }

  h6 {
    @apply font-medium text-base max-2xl:text-sm max-xl:text-sm max-lg:text-sm max-md:text-sm max-sm:text-sm;
  }

  p {
    @apply text-base max-2xl:text-sm max-xl:text-sm max-lg:text-xs max-md:text-xs max-sm:text-xs leading-relaxed;
  }

  button {
    @apply font-avenirLtStd font-medium cursor-pointer;
  }

  a {
    @apply font-avenirLtStd text-sm font-medium;
  }

  .container {
    @apply px-4 mx-auto;
  }
}

@layer utilities {
  .btn-primary {
    @apply bg-primary text-white rounded-sm hover:bg-primary/90;
  }

  .heading_b_border {
    @apply inline-block border-b border-primary;
  }

  .custom-pagination .swiper-pagination-bullet {
    @apply size-7.5! rounded-sm! bg-neutral-600! cursor-pointer;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    @apply size-7.5! rounded-sm! bg-primary!;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 55s linear infinite;
}

.workflow_scroll::-webkit-scrollbar {
  width: 6px;
}

.workflow_scroll::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.workflow_scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}
